@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Challenger.DataLayer
@model Challenger.Models.UpdateChallengeViewModel

@Scripts.Render("~/bundles/jquery")
<div>
    <form method="post" action="@Url.Action("Create", "Challenge")">
        <dl>
            <dt>
                Challenger
                <input id="Challenger" name="Challenger" type="text" value="@User.Identity.Name" disabled />
                Type
                <select data-val="true" data-val-required="The Type field is required." id="Type" name="Type" onclick="if (this.selectedIndex != 2 || typeof (this.selectedIndex) == 'undefined') document.getElementById('Quantity').style.visibility = 'hidden'; else document.getElementById('Quantity').style.visibility = 'visible';">
                    <option selected="selected" value="0">OneTime</option>
                    <option value="1">StepByStep</option>
                    <option value="2">Quantity</option>
                </select>

                @Html.DisplayNameFor(m => m.DueDate)
                @Html.TextBoxFor(m => m.DueDate)
            </dt>
            <dt>
                @Html.DisplayNameFor(m => m.Assignee)
                @Html.TextBoxFor(m => m.Assignee)
            </dt>
            <dt id="">
                @Html.DisplayNameFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)

                <p id="Quantity">
                    Quantity Left
                    <input data-val="true" data-val-number="The field Quantity must be a number." id="Quantity" name="Quantity" type="text" value="" disabled/>
                </p>
            </dt>
            <dt>
                @Html.DisplayNameFor(m => m.Description)
            </dt>
            <dd>
                @Html.TextBoxFor(m => m.Description)
            </dd>
        </dl>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
