@model Challenger.Models.UserProfileViewModel
@using Challenger.DataLayer

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

@*<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Tabs - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@
@*</head>*@

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="profile-picture" src="https://s-media-cache-ak0.pinimg.com/236x/a0/4a/6a/a04a6af9855cd3078963a121b04b10c9.jpg" />
            </div>
            <div class="col-sm-4">
                <div><h1>@Html.DisplayFor(model => model.FullName)</h1></div>
                <div>
                    @if (!(@Html.DisplayFor(model => model.FullName).ToString() == User.Identity.Name) && User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-success">Challenge</button>
                    }
                </div>
            </div>
            <div class="col-sm-4" id="level-container">
                <img alt="Level" src="~/Icons/icon_star.png" id="level_img">
                <h3 id="level-text"><b>@Html.DisplayFor(model => model.CurrentLevel)</b></h3>
            </div>
        </div>
        <div class="container" id="description-container">
            <div>
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">My Challenges</a></li>
                <li><a href="#tabs-2">Created Challenged</a></li>
            </ul>
            <div id="tabs-1">
                <div class="container">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <td>
                                    <h3>From</h3>
                                </td>
                                <td>
                                    <h3>Type</h3>
                                </td>
                                <td>
                                    <h3>Status</h3>
                                </td>
                                <td>
                                    <h3>Due Date</h3>
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.AssignedTasks)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Challenger, "OtherIndex", "UserProfile", new { username = item.Challenger }, new { @class = "username" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <th>
                                    @if (item.Status == Task.ChallengeStatus.Accept)
                                    {

                                        <img src="~/Icons/Taken.png" id="input_img">
                                    }
                                    @if (item.Status == Task.ChallengeStatus.InProcess)
                                    {

                                        <img src="~/Icons/InProgress.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Sent)
                                    {

                                        <img src="~/Icons/Created.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Decline)
                                    {

                                        <img src="~/Icons/Declined.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Done)
                                    {

                                        <img src="~/Icons/Done.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Expired)
                                    {

                                        <img src="~/Icons/Expired.png" id="input_img">

                                    }
                                    @Html.DisplayFor(modelItem => item.Status)
                                </th>
                                <td>
                                    @if (item.DueDate != null)
                                    {
                                        <img alt="Level" src="~/Icons/time.png" id="input_img">
                                        @Html.DisplayFor(modelItem => item.DueDate)
                                    }


                                </td>
                            </tr>
                        }
                    </table>


                </div>
            </div>
            <div id="tabs-2">
                <div class="container">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <td>
                                    <h3>To</h3>
                                </td>
                                <td>
                                    <h3>Type</h3>
                                </td>
                                <td>
                                    <h3>Status</h3>
                                </td>
                                <td>
                                    <h3>Due Date</h3>
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.CreatedTasks)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Assignee, "OtherIndex", "UserProfile", new { username = item.Assignee }, new { @class = "username" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <th>
                                    @if (item.Status == Task.ChallengeStatus.Accept)
                                    {

                                        <img src="~/Icons/Taken.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Sent)
                                    {

                                        <img src="~/Icons/Created.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Decline)
                                    {

                                        <img src="~/Icons/Declined.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Done)
                                    {

                                        <img src="~/Icons/Done.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.Expired)
                                    {

                                        <img src="~/Icons/Expired.png" id="input_img">

                                    }
                                    @if (item.Status == Task.ChallengeStatus.InProcess)
                                    {

                                        <img src="~/Icons/InProgress.png" id="input_img">

                                    }
                                    @Html.DisplayFor(modelItem => item.Status)
                                </th>
                                <td>
                                    @if (item.DueDate != null)
                                    {
                                        <img alt="Level" src="~/Icons/time.png" id="input_img">
                                        @Html.DisplayFor(modelItem => item.DueDate)
                                    }


                                </td>
                            </tr>
                        }
                    </table>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="settingsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="settingsTabs">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <ul>
                            <li><a href="#settingsTabs-1">Change Description</a></li>
                            <li><a href="#settingsTabs-2">Change Password</a></li>
                            <li><a href="#settingsTabs-3">Change Avatar</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="settingsTabs-1">
                            <form method="post" action="@Url.Action("ChangeDescription", "UserProfile")">
                                <input type="hidden" value="@Model.FullName" name="FullName" id="FullName" />
                                @*<input type="hidden" value="@Model.Description" name="Description" id="Description" />*@
                                @*@Html.TextBoxFor(x => x.Description)*@
                                <textarea placeholder="Description must be less than 100 characters." rows="5" cols="50" name="Description" id="Description">@Model.Description</textarea>
                                <button type="submit">Change it!</button>
                            </form>
                        </div>
                        <div id="settingsTabs-2">
                            <p>This feature is not available yet</p>
                        </div>
                        <div id="settingsTabs-3">
                            <p>This feature is not available yet</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>



            </div>

        </div>
    </div>

</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });

    $(function () {
        $("#settingsTabs").tabs();
    });
</script>