@model Challenger.Models.UserProfileViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

@*<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Tabs - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@
@*</head>*@

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="profile-picture" src="https://s-media-cache-ak0.pinimg.com/236x/a0/4a/6a/a04a6af9855cd3078963a121b04b10c9.jpg" />
            </div>
            <div class="col-sm-4">
                <div><h1>@Html.DisplayFor(model => model.FullName)</h1></div>
                <div>
                    @if (!(@Html.DisplayFor(model => model.FullName).ToString() == User.Identity.Name) && User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-success">Challenge</button>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <h3><b>LEVEL @Html.DisplayFor(model => model.CurrentLevel)</b></h3>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p>
                    Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">My Challenges</a></li>
                <li><a href="#tabs-2">Created Challenged</a></li>
            </ul>
            <div id="tabs-1">
                <div class="container">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <td>
                                    <h3>From</h3>
                                </td>
                                <td>
                                    <h3>Type</h3>
                                </td>
                                <td>
                                    <h3>Status</h3>
                                </td>
                                <td>
                                    <h3>Due Date</h3>
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.AssignedTasks)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assignee)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                            </tr>
                        }
                    </table>


                </div>
            </div>
            <div id="tabs-2">
                <div class="container">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <td>
                                    <h3>To</h3>
                                </td>
                                <td>
                                    <h3>Type</h3>
                                </td>
                                <td>
                                    <h3>Status</h3>
                                </td>
                                <td>
                                    <h3>Due Date</h3>
                                </td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.CreatedTasks)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assignee)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                            </tr>
                        }
                    </table>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div class="modal fade" id="settingsModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="settingsTabs">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <ul>
                            <li><a href="#settingsTabs-1">Change Avatar</a></li>
                            <li><a href="#settingsTabs-2">Change Password</a></li>
                            <li><a href="#settingsTabs-3">Change Description</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div id="settingsTabs-1">
                            <p>fklfdsjklfdsjlksfakl;fdskl</p>
                        </div>
                        <div id="settingsTabs-2">
                            <p>asdsadsadadsdsaadsdsa</p>
                        </div>
                        <div id="settingsTabs-3">
                            <p>laskjdklsajkldsasjdsalkdjaskladsjklads</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
                
                
                
            </div>

        </div>
    </div>

</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });

    $(function () {
        $("#settingsTabs").tabs();
    });
</script>